<a href="https://colab.research.google.com/github/robertramos89/Project-1/blob/main/PortfolioProject1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Project #1 

- Robert Ramos
- 2/3/22

In [6]:
# Mount Data
from google.colab import drive
drive.mount = "/content/drive"

In [8]:
## Import pandas and sales prediction CSV into colab
import pandas as pd
sales_prediction = "/content/sales_predictions.csv"

df = pd.read_csv(sales_prediction)
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

## 1) How many rows and columns?

In [9]:
# run df.inf() to get
df.info()

# 8523 rows, 12 columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

## 2) What are the datatypes of each variable?

In [10]:
# Run df.dtypes to list out datatypes of each column
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

## 3) Are there duplicates? If so, drop any duplicates.

In [11]:
# run duplicated() method to find duplicates within the dataset
duplicates = df.duplicated()
df[duplicates]

# no duplicates within the dataset

Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

## 4) Identify missing values.

In [12]:
# Run df.info to figure out which columns have missing data
df.isnull().sum()

# From this data we can see that Item_Weight & Outlet_Size are the only two columns with missing data

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [13]:
Item_Weight_Missing = df["Item_Weight"].isna()
df.loc[Item_Weight_Missing,:]

# Below shows all of the rows (1463) from the Item_Weight columns that have null values. This matches the # of rows we saw in Item_Weight when we ran the isnull method

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7              FDP10          NaN  ...  Supermarket Type3          4022.7636
18             DRI11          NaN  ...  Supermarket Type3          2303.6680
21             FDW12          NaN  ...  Supermarket Type3          4064.0432
23             FDC37          NaN  ...      Grocery Store           214.3876
29             FDC14          NaN  ...      Grocery Store           125.8362
...              ...          ...  ...                ...                ...
8485           DRK37          NaN  ...  Supermarket Type3          6261.8490
8487           DRG13          NaN  ...  Supermarket Type3          4111.3150
8488           NCN14          NaN  ...  Supermarket Type3          2756.4120
8490           FDU44          NaN  ...      Grocery Store           487.3656
8504           NCN18          NaN  ...  Supermarket Type3          4138.6128

[1463 rows x 12 columns]

In [14]:
Outlet_Size_Missing = df["Outlet_Size"].isna()
df.loc[Outlet_Size_Missing,:]

# Below shows all of the rows (2410) from the Outlet_Size columns that have null values. This matches the # of rows we saw in Outlet_Size when we ran the isnull method

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
3              FDX07       19.200  ...      Grocery Store           732.3800
8              FDH17       16.200  ...  Supermarket Type1          1076.5986
9              FDU28       19.200  ...  Supermarket Type1          4710.5350
25             NCD06       13.000  ...  Supermarket Type1           838.9080
28             FDE51        5.925  ...      Grocery Store           178.4344
...              ...          ...  ...                ...                ...
8502           NCH43        8.420  ...  Supermarket Type1          3020.0688
8508           FDW31       11.350  ...  Supermarket Type1          2587.9646
8509           FDG45        8.100  ...      Grocery Store           424.7804
8514           FDA01       15.000  ...  Supermarket Type1           468.7232
8519           FDS36        8.380  ...  Supermarket Type1           549.2850

[2410 rows x 12 columns]

## 5) Decide on how to address the missing values and do it! (This requires your judgement, so explain your choice).

In [18]:
# I have decided to drop the rows that are missing values for Outlet_Size from the dataset as outlet size is an important factor in calculating sales 
# and the missing values could cause the prediction method to work incorrectly if the values are passed through the algorithm.
# I will also be dropping rows that are missing Item Weight information as this information could be valuable for calculating storage space within the outlets 
# and including missing data here could throw off stock calculations. It also does not make sense to replace the null values with a 0 for item weight.

df.dropna(inplace= True)
df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
4              NCD19        8.930  ...  Supermarket Type1           994.7052
5              FDP36       10.395  ...  Supermarket Type2           556.6088
...              ...          ...  ...                ...                ...
8517           FDF53       20.750  ...  Supermarket Type1          3608.6360
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[4650 rows x 12 columns]

## 6) Confirm that there are no missing values after addressing them.

In [19]:
#  Ran the isnull method again to check for null values across all columns.
df.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

## 7) Find and fix any inconsistent categories of data (example: fix cat, Cat, and cats so that they are consistent)

In [22]:
# Run df.nunique() to view # of unique values by column
df.nunique()

Item_Identifier              1535
Item_Weight                   409
Item_Fat_Content                5
Item_Visibility              4280
Item_Type                      16
Item_MRP                     3806
Outlet_Identifier               5
Outlet_Establishment_Year       5
Outlet_Size                     3
Outlet_Location_Type            3
Outlet_Type                     2
Item_Outlet_Sales            2449
dtype: int64

In [25]:
# check for inconsistent values in descriptive object columns

#Can see that Item_Fat_Content has 5 values that are similar. This must be updated so that they are consolidated to just "Low Fat" & "Regular"
df["Item_Fat_Content"].value_counts()

Low Fat    2774
Regular    1575
LF          177
reg          71
low fat      53
Name: Item_Fat_Content, dtype: int64

In [28]:
# run replace method to replace LF and low fat to = Low Fat as well as updating reg to Regular

df["Item_Fat_Content"].replace(["LF","low fat","reg"],["Low Fat","Low Fat","Regular"], inplace= True)

In [29]:
# Rerun value counts to check unique values
df["Item_Fat_Content"].value_counts()

Low Fat    3004
Regular    1646
Name: Item_Fat_Content, dtype: int64

In [30]:
# Check additional columns for inconsistent values
df["Item_Type"].value_counts()

Fruits and Vegetables    670
Snack Foods              656
Household                498
Frozen Foods             477
Dairy                    380
Canned                   361
Baking Goods             351
Health and Hygiene       277
Soft Drinks              241
Meat                     221
Breads                   132
Hard Drinks              117
Others                    91
Starchy Foods             87
Breakfast                 58
Seafood                   33
Name: Item_Type, dtype: int64

## 8) For any numerical columns, obtain the summary statistics of each (min, max, mean)

In [34]:
# Run df.describe() to obtain the statistical information on numerical columns only
df.describe()

       Item_Weight  ...  Item_Outlet_Sales
count  4650.000000  ...        4650.000000
mean     12.898675  ...        2272.037489
std       4.670973  ...        1497.964740
min       4.555000  ...          69.243200
25%       8.770000  ...        1125.202000
50%      12.650000  ...        1939.808300
75%      17.000000  ...        3111.616300
max      21.350000  ...       10256.649000

[8 rows x 5 columns]